*{
  margin:0px;
  padding:0px;
}

.pokemonInfo{
  text-decoration: none;
  list-style: none;
    background-color: #fff;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: wrap;
    flex-wrap: wrap;
    padding: 30px 100px 100px;
}
h1{

  font-size: 18px;
}
.img{
  font-size: 100px;
}
.pokemonList{

  margin: 0 10px 20px 0;
  height: 230px;
  width: 170px;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #aaa7a7;
  background-color: rgba(228,238,241,.76);
  text-align: center;

}
.powers {
  list-style: none;
  /* display:grid;
  grid-template-columns:60px 60px; */
 display:flex;
 flex-direction: row;
 justify-content: center;
}
.powers ul{
  padding:0px;
  margin:auto;
  padding-inline-start:0px;
}
li{
  padding:20px;
}